node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
dist/
coverage/
.vite/
.env*
!.env.example
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
firestore-debug.*.log
playwright-report/
test-results/
*.tsbuildinfo
.stryker-tmp/
.stryker-incremental.json
reports/
